<div class="card w-100">
  <div class="card-block">
    <h4 class="card-title"><%= category.title %></h4>
    <a class="btn btn-outline-info" href=<%= category_path(category) %>>
      <%= t('views.forms.user.posts.show') %>
    </a>
    <% if can? :destroy, category %>
      <%= link_to t('views.forms.user.posts.destroy') , category, method: :delete,
                  data: { confirm: t('views.forms.confirm') }, class: 'btn btn-outline-danger' %>
    <% end %>
  </div>
</div>