<a href="#" id="upload_widget_opener">Upload multiple images</a>


<script type="text/javascript">
    document.getElementById("upload_widget_opener").addEventListener("click", function() {
        cloudinary.openUploadWidget({ cloud_name: 'demo', upload_preset: 'sut1j98o'},
            function(error, result) { console.log(error, result) });
    }, false);
</script>