<ul>
    <li>
      <button class="btn btn-success" id="add_image">
       sadfasdf
      </button>
    </li>
    <li>
      <button class="btn btn-success" id="add_text">
      </button>
    </li>
    <li>
      <button class="btn btn-success button-primary" id="add_video">
        sadfasdf
      </button>
    </li>
    <li>
      <button class="btn btn-info" id="add_step">
        safasdf
      </button>
    </li>
</ul>
