<div class="row">
  <div class="col-md-2 "></div>
  <div class="col-md-3">
    <%= render 'forms/post_edit' %>
    <hr/> <hr/>
    <%= render 'forms/new_step' %>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <h3>
      Steps
    </h3>
    <ul class="list-group" id="sortable">
      <% @post.steps.each do |step| %>
          <%=  link_to  step.title, edit_post_step_path(@post, step), class: 'list-group-item list-group-item-action' %>
      <% end %>
    </ul>
  </div>
  <div class="col-md-2"></div>
</div>

<script>
    $('#sortable').sortable();
    $('#sortable').disableSelection();
</script>