<div class="row">
  <div class="col-md-2 "></div>
  <div class="col-md-3">
    <%= render 'forms/post_edit' %>
    <hr/> <hr/>
    <%= render 'forms/new_step' %>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <h3>
      Steps
    </h3>
    <ul class="list-group" id="sortable">
      <%= render @post.steps %>
    </ul>
  </div>
  <div class="col-md-2"></div>
</div>

<script>
    $('#sortable').sortable();
    $('#sortable').disableSelection();
</script>